 <!-- About page -->



<div class="container-fluid">
    <h1>About-Infraction Portal</h1><br />


    <div id="div1" class="col-md-8" style="background-image:url('/Images/Infra.jpg');background-repeat:repeat;background-size:cover;height:400px;width:100%">
        <br /> <h3><code>Details Infraction portal</code></h3><br>
        <p><span class="dingus">►</span><small>Facilitates users to report any<code>quality errors or infractions/process gaps</code> </small></p>

        <p><span class="dingus">►</span><small>Facilitates discussion across required stakeholders to close infractions/process gaps</small></p>

        <p><span class="dingus">►</span><small>Encourages larger team to participate in providing process improvement suggestions</small></p>

        <p><span class="dingus">►</span><small>Provides track level view of infractions raised by agents</small></p>
    </div>




    <div id="div4" class="col-md-10">
        <div class="dum" style="background-image:url('/Images/image2.jpg');background-repeat:repeat;background-size:cover;height:400px;width:100%">
            <div class="col-md-offset-6">
                <br /> <br /> <h3><code>Review</code> </h3><br />
                <p><span class="dingus">►</span><small>Even if dropdowns are replaced by free text, the protal could be completely moderated by selected team members</small></p>

                <p><span class="dingus">►</span><small>Only once infraction or comment is approved by Moderator, it will be posted on the landing page</small></p>

                <p><span class="dingus">►</span><small>Every infraction is reviewed and analyzed by moderator</small></p>


            </div>
        </div>

    </div>


    <div id="div3" class="col-md-8" style="background-image:url('/Images/image4.jpg');background-repeat:repeat;background-size:cover;height:400px;width:100%">
        <br /><br /> <h3><code>Reports</code> </h3><br />
        <p><span class="dingus">►</span><small>A functionality enables agents to Up vote an infraction </small></p>

        <p><span class="dingus">►</span><small>Count of Up vote and views are displayed on the User page</small></p>

        <p><span class="dingus">►</span><small>Badges, Up votes and Views can act as strong motivator for Agents</small></p>

        <p><span class="dingus">►</span><small>Reporting mechanism also displays infractions grouped by every Track</small></p>

    </div>


    <div id="div6" class="col-md-10">
        <div class="dum" style="background-image:url('/Images/image3.jpg');background-repeat:repeat;background-size:cover;height:400px;width:100%">
            <div class="col-md-offset-6" id="div6">
                <br /> <br />   <h3><code> Rewards & Recognition </code></h3><br />
                <p><span class="dingus">►</span><small>Infraction raised and approved by <code>moderator</code> are accounted</small></p>

                <p><span class="dingus">►</span><small>Different <code> badges</code> for agents based on infractions approved by moderator</small></p>

                <p><span class="dingus">►</span><small>Agents to be rewarded and recognised based on badges received during a <code> specific Quarter</code></small></p>
            </div>

        </div>
    </div>




</div>
<div class="container">
    <div class="pull-right">
        Copyright © 2019 HCL Infraction portal

    </div>

</div>

